<poi>
	<div class="row">
		<div class="col-sm-4">
			<strong>Latitude:</strong>
		  <div class="marker-latitude" data-lfr-editable-id="01-latitude" data-lfr-editable-type="text">48.884664</div>
			<br />
			<strong>Longitude:</strong>
		  <div class="marker-longitude" data-lfr-editable-id="02-longitude" data-lfr-editable-type="text">2.2974253</div>
		</div>
		<div class="col-sm-4">
			<div class="marker-container">
			  <img alt="marker-picture" class="marker-portrait" data-lfr-editable-id="03-image-square" data-lfr-editable-type="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAABECAYAAABK3PEEAAAACXBIWXMAAC4jAAAuIwF4pT92AAABBUlEQVR4Xu3VAQkAIBDFUO0fRLCD2RSM8dg12Mbn5trnjo41MAvMtv1gBbb7FhjvW+AC6wZwvn5wgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI7XgguMG8DxWnCBcQM4XgsuMG4Ax2vBBcYN4HgtuMC4ARyvBRcYN4DjteAC4wZwvBZcYNwAjteCC4wbwPFacIFxAzheCy4wbgDHa8EFxg3geC24wLgBHK8FFxg3gOO14ALjBnC8Flxg3ACO14ILjBvA8VpwgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI73ADVez7kdh2y/AAAAAElFTkSuQmCC" />
				<div class="marker-headline" data-lfr-editable-id="04-headline" data-lfr-editable-type="text">CCF Paris Lafayette Haussmann</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div style="margin: 12px; padding: 12px; background-color: #FFF; border: 1px black solid; border-radius: 4px; width: 200px">
			  <div class="marker-popup-headline" data-lfr-editable-id="05-popup-headline" data-lfr-editable-type="text">Paris</div>
				<div class="marker-popup-line1" data-lfr-editable-id="06-popup-line1" data-lfr-editable-type="text">14 bis Bd Haussmann</div>
				<div class="marker-popup-line2" data-lfr-editable-id="07-popup-line2" data-lfr-editable-type="text">75009 Paris</div>
			</div>
		</div>
	</div>
</poi>